body {
    margin: 0;
    padding: 0;
}
.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    display:block;
}
.logo-wrapper{
    border-bottom: 5px solid #D0D0D0;
}
.location-text{
    font-size: 50px;
}
.locationpin{
    width: 50px;
}
.location-wrapper{
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
}
.book{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    
}
.discover{
    font-size: 70px;
    color: #494949;
    text-align: center;
}
.explore-button{
    margin: auto;
    display: block;
    font-size: 50px;
    padding: 30px;
    border-radius: 61px;
    color: white;
    background: linear-gradient(#EC6FDA,#A25BDC);
    border: 0;
}
.book-background{
    background-color: #F6F6F6;
    padding-top: 1px;
    padding-bottom: 100px;
}
.how-it-works{
    font-size: 80px;
    font-weight: bold;
    padding-left: 150px;
}
.steps-wrapper{
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    font-size: 50px;
    padding: 30px;
    border-radius: 61px;
    margin:auto;
    width: 750px;
    margin-bottom: 40px;
    position:relative;
    box-shadow: 0 5px 15px lightgrey;
}
.steps-wrapper:hover{
    box-shadow: 0 5px 25px grey;
    background-color: #F5EDFF !important;
}
.steps-text{
    font-weight: bold;
    padding-left: 40px;
}
.steps-icons{
    width: 50px;
}
.restaurant-title{
    font-weight: bold;
    font-size: 80px;
    padding-left: 150px;
}
.restaurant-option{
    display: block;
    width: 750px;
    border-radius: 61px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    box-shadow: 0 5px 15px lightgrey;
}
.restaurant-option:hover{
    box-shadow: 0 5px 25px grey;
}
.restaurant-background{
    background-color: #F6F6F6;
}
.heart-icon{
    width: 50px;
    height:50px;
    background-image: url(assets/heart.svg);
    background-repeat:no-repeat;
    background-size: cover;
}
.heart-icon:hover{
    background-image: url(assets/heartpurple.svg);
}
.restaurant-image2{
    object-fit: cover;
    object-position: center -315px;
}
.image-subtitle{
    display:flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
}
.restaurant-image{
    object-fit: cover;
}
.step-number{
    background-color:#9356DC;
    color:#FFFFFF;
    font-size: 50px;
    position: absolute;
    top: 75px;
    left:-25px;
    border-radius:29px;
    padding-left: 16px;
    padding-right: 16px;
}
.new-indicator{
    background-color: #99E2D0;
    color: #0B8E6E;
    font-size: 35px;
    position: absolute;
    top:50px;
    right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}
.footing-background{
    background-color: #353535;
    padding-top: 60px;
    padding-left: 50px;
    padding-bottom: 50px;
    display: block;
}
.footing-icon{
    width: 50px;
}
.footing-text{
    color: #FFFFFF;
    font-weight: bold;
}
.sub-footing-display{
    display: flex;
}
.link{
    color:initial;
    text-decoration: initial;
}
.main-spinner{
    position: absolute;
    top:calc(50% - 100px);
    right:calc(50% - 100px);
}
.loading-page{
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    animation-name: my-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.main-page{
    overflow: hidden;
    animation-name: overflow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes my-animation{
    from{
        opacity: 0.8;
        
    }
    to{
        opacity: 0;
    }
}

@keyframes overflow{
    from{
        overflow:hidden;
    }
    to{
        overflow: initial;
    }
}